---
import Layout from "../layouts/BlogPost.astro";
import GitHubIcon from "../assets/Octicons-mark-github.svg";
import DriveIcon from "../assets/Google_Drive_icon_(2020).svg";
---

<Layout
	title="Masmorres i dracs 5e traduït al català"
	description="Als repositoris següents trobaràs la cinquena edició de masmorres i dracs (Dungeons & Dragons 5th edition) traduïda al català."
	pubDate={new Date("30 01 2026")}
>
	<div class="social-links">
			<a href="https://github.com/Micmiquel/Masmorres_i_Dracs__Micmiquel" target="_blank">
				<span class="sr-only">Contingut per Masmorres i Dracs a GitHub</span>
				<img src={GitHubIcon.src} alt="GitHub" width="32" height="32" loading="lazy" decoding="async" />
			</a>
			<a href="https://drive.google.com/drive/folders/1CNz4eXQIZ6A3etpZRlDnDzltgawrJPRX?usp=drive_link" target="_blank">
				<span class="sr-only">Contingut per Masmorres i Dracs a Google Drive</span>
				<img src={DriveIcon.src} alt="Google Drive" width="32" height="32" loading="lazy" decoding="async" />
			</a>
	</div>
	<div>
		<h5>Contingut</h5>
		<p>
			<li>Normes essencials per a jugadors i mestres de masmorra.</li>
			<li>
				Totes les criatures que apareixen al Monster Manual, Volo’s
				Guide to Monsters i Mordenkainen’s Tome of Foes, a més d’algunes
				d’altres fonts.
			</li>
			<li>Totes les classes i subclasses oficials de 5e publicades.</li>
			<li>Tots els encanteris oficials de 5e publicats.</li>
			<li>Totes les gestes oficials de 5e publicades.</li>
			<li>Tots els passats oficials de 5e publicats.</li>
			<li>
				Tots els objectes màgics publicats al Player’s Handbook, a més
				d’alguns d’altres fonts.
			</li>
			<li>
				Totes les races publicades al Player’s Handbook, a més d’algunes
				d’altres fonts.
			</li>
		</p>

		<h5>Com començar</h5>
		<p>
			Per a poder gaudir òptimament d’aquest material, cal seguir aquests
			simples passos:
			<ul>
				1. Descarregar el programari gratuït Obsidian, un editor i
				visualitzador de textos: https://obsidian.md/
			</ul>
			<ul>
				2. A l’obrir-lo, seleccionar “Open Folder as Vault” i
				seleccionar la carpeta “DnD Obsidian v.X” inclosa en els
				paquets. Para especial atenció a aquest pas si ho descarregues
				des de GitHub, ja que si no obres la carpeta “DnD Obsidian v.X”
				especificament, sinó la que conté aquesta i el Llegeix-me, no es
				descarregaran els plugins necessaris per a la seva visualització
				correcta.
			</ul>
			<ul>
				3. El programa demanarà si es confia en els plugins de tercers.
				Cal acceptar-los per a visualitzar correctament els blocs de
				criatures, entre altres.
			</ul>
			<ul>
				4. Ja pots gaudir d’una gran col·lecció de material de Masmorres
				i Dracs en català!
			</ul>
		</p>

		<h5>Comentaris</h5>
		<p>
			Aquest contingut ha estat traduït i aglutinat de manera no
			professional, basant-se en material de tercers, per posar-lo a la
			disposició de la comunitat de Masmorres i Dracs catalana, com a eina
			per a facilitar l’entrada a aquest joc de rol de taula no disponible
			en la nostra llengua. Degut a les seves circumstàncies, aquesta
			traducció i recopilació pot contenir errors i mancar informació,
			però la voluntat és actualitzar-la periòdicament per esmenar tota
			mancança que pugui tenir. Per això, s’agraeix informar de qualsevol
			dèficit detectat a la següent adreça: MicmiquelMiD@gmail.com. En la
			traducció, s’ha decidit eliminar referències als mons oficials de
			D&D en els noms d’alguns encanteris, gestes o passats. Per exemple,
			Tasha’s Hideous Laughter ha passat a ser simplement Riure Llefiscós.
			Aquest canvi es fa amb la voluntat de poder incorporar aquest
			contingut en els vostres propis mons. (Haver-ho traduït vosaltres,
			Wizards of the Coast). Per altra banda, també s’ha preferit usar
			mesures del sistema mètric en comptes de les imperials, ja que el
			sistema imperial és aberrant i mereixedor de l’oblit col·lectiu.
			L’única excepció són els peus, la mesura de moviment i distància de
			Masmorres i Dracs, claus per al combat. Tot i això, seguint la
			mateixa voluntat i tenint en compte que no aporten gaire informació
			a algú no format en el sistema imperial, s’han substituït per
			unitats (u.), on una unitat són 30 cm i cinc unitats són metre i
			mig. En les targetes de criatures, s’han afegit fotografies i una
			breu descripció. Ambdues s’han fet sense un criteri concret,
			originalment només com a referència personal. He decidit
			mantenir-les de moment, per si resulten útils de cap manera. En tot
			cas, no segueixen cap font oficial.
		</p>

		<h5>Preguntes freqüents</h5>
		<p>
			<li>Aquest material és lliure d’errors?</li>
			No es pot garantir. El més probable és que contingui errors, en especial
			durant les primeres versions. Tot i això, la voluntat es anar esmenant
			qualsevol error de gramàtica, ortografia, traducció, format, mancances,
			incongruències… Podeu fer arribar qualsevol d’aquests errors a l’adreça
			següent perquè siguin corregits: MicmiquelMiD@gmail.com.

			<li>Està previst que s’ampliï el seu contingut?</li>
			La voluntat es continuar ampliant aquest material amb el temps. Si vols
			col·laborar-hi de cap manera, pots contactar a l’adreça següent: MicmiquelMiD@gmail.com.

			<li>Puc compartir aquests arxius amb tercers?</li>
			És clar! La voluntat és que aquest material arribi al màxim de públic
			possible, per a estendre l’ús d’aquest joc, i en català, tant com es pugui.

			<li>Per què aquest material no està disponible en línia?</li>
			Bàsicament, és més complicat, a més que seria exposar-se més a certes
			qüestions de legalitat. A més, la major part d’aquesta tasca ha sigut
			traduir usar plantilles de material ja existent per a Obsidian, així que
			és molt més senzill mantenir-ne el format.

			<li>Puc oferir cap mena de suport econòmic?</li>
			Tota la feina que ha suposat aquest projecte, i la que vindrà, es fa de
			manera totalment altruista. Tot i això, si voleu donar suport, podeu fer-ho
			a través d’un donatiu per aquest enllaç: <a
				href="https:buymeacoffee.com/micmiquel"
				target="_blank">buymeacoffee.com/micmiquel</a
			>
		</p>
	</div>
</Layout>
